.TopicContainer{
    position: absolute;
    width: 794px;
    height: 143px;
    left: 0px;
    top: 108px;
    display: flex;

}

.Topic{
    font-family: 'Literata';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 143px;
    display: flex;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

.PageConatiner {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0px;
    left: 0px;
}

.ResultContainer {
    display: grid;
    gap: 2vw;
    grid-template-columns: repeat(auto-fit, 306px);
    justify-content: center;
    position: absolute;
    top: 300px;
    width: 100%;
}

.ProductTag{
    position: relative;
    width: 58px;
    height: 15px;
    left: 248px;
    top: 0px;
    background: #9bc78b;
    display: flex;

    
}

.SortByContainer{
    position: absolute;
    width: 201px;
    height: 160px;
    right:9vw;
    top: 16.5vh;
    background-color: #F6F6E9;

}

.SortedByText{
    /* sorted by */

    position: absolute;
    width: 235px;
    height: 17px;
    right:16vw;
    top: 17vh;

    font-family: 'Literata';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;

    color: #000000;


}

.no-result-message {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}