.TopicContainer{
    position: absolute;
    width: 794px;
    height: 143px;
    left: 0px;
    top: 108px;
    display: flex;
}

.Topic{
    font-family: 'Literata';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 143px;
    display: flex;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

.ResultContainer{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: start;
    align-content: center;
    padding: 105px;
    gap: 350px;
    overflow: hidden;

    position: absolute;
    width: 1595px;
    height: 670px;
    left: calc(50% - 1595px/2 - 0.5px);
    top: 244px;
    pointer-events: none;
}

.ResultContainer::-webkit-scrollbar {
    display: none;
}

.ProductTag{
    position: relative;
    width: 58px;
    height: 15px;
    left: 248px;
    top: 0px;
    background: #9bc78b;
    display: flex;

    
}

.SortByContainer{
    position: absolute;
    width: 201px;
    height: 16  0px;
    left: 1446px;
    top: 183px;
}

.SortedByText{
    /* sorted by */

    position: absolute;
    width: 235px;
    height: 17px;
    left: 1305px;
    top: 191px;

    font-family: 'Literata';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;

    color: #000000;


}