.edit-product-form {
    position: relative;
    background-color: white;
    padding: 100px 100px;
    padding-bottom: calc(100px + 40px + 20px);

    .first-input-row {
        display: flex;
        flex-direction: row;
        gap: 15px;
    }

    .second-input-row {
        display: flex;
        flex-direction: row;
        gap: 15px;
    }
}

.form-button {
    position: absolute;
    right: 100px;
    padding-top: 20px;
}