.ProductCardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ProductCardContainer img{
    width: 306px;
    height: 245px;
}

.ProductInfoContainer {
    position: relative;
    box-sizing: border-box;
    width: 306px;
    height: 51px;

    border-top: 0.3vh solid #000000;
    margin-top: 5px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    text-decoration: none;
}

.ProductNameCard {
position: relative;
width: 305px;
height: 18px;
left: 0px;
top: 0px;

font-family: 'Literata';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identical to box height */
display: flex;
align-items: center;
letter-spacing: 0.05em;
color: #000000;
}

.ProductPrice {
position: absolute;
width: 45px;
height: 36px;
left: 0px;
top: 16px;

font-family: 'Literata';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 36px;
/* identical to box height */
display: flex;
align-items: left;
letter-spacing: 0.05em;
text-transform: uppercase;

color: #000000;

}

.ProductTagCard{
    position: absolute;
    width: 58px;
    height: 15px;
    left: 248px;
    top: 8px;
    background: #9EB496;
    display: flex;
}

.onsale{
    /* On SALE */

position: absolute;
width: 64px;
height: 12px;
left: -3px;
top: -1px;

font-family: 'Literata';
font-style: normal;
font-weight: 700;
font-size: 10px;
line-height: 15px;
text-align: center;
letter-spacing: 0.05em;
text-transform: uppercase;

color: #000000;

}

.ProductTagCard_oos{
    position: absolute;
    width: 7vw;
    height: 15px;
    right: 0px;
    top: 8px;
    background: #e87575;
    display: flex;
}

.ProductTagCard_oos p{
    position: relative;
    width: 7vw;
    height: 23px;
    left: 0px;
    top: -5px;
    
    font-family: 'Literata';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    
    color: #000000;
    }