.MainContainer{
    display: flex;
    width: 95%;
    height: 1350px;

    /* position:absolute; */
    top:0%;
    margin-left: 5%;

    /* flex: none; */
    order: 1;
    flex-grow: 0;
}

.ProductContainer{
    position: absolute;
    width: 85%;
    height: 51.5%;
    top: 10%;
    padding: 0;
}

.ImgContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    
    position: absolute;
    width: 60%;
    height: 87.5%;
    left: 0px;
    top: 0px;
    }

.ImgContainer img{

    width: 80%;
    height: 100%;
    position: absolute;
    left: 160px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}

.ImgListContainer{
    /* images-list */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 54px 14px; */
    gap: 10px;

    width: 128px;
    height: 544.67px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.ImgListContainer button{
    border-color: transparent;
    background-color:  transparent;
}


.ImgListContainer img{

width: 100px;
height: 79.33px;

position: relative;
left:0px;
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
opacity: 100%;
}

.RecommendationContainer{
    position: absolute;
    flex-direction: column;
    top: 64%;
    height : 80%;
    width: 90%;

    display: flex;
    /* padding-left: 105px; */
}


.RecommendationItems {
    display: flex;
    align-items: center;
    top: 15%;
    height: 40%;
    width: 100%;
    margin-top: 2%;
    flex-direction: row;
    gap: 3vh;
    overflow-x: scroll;
}


.RecommendationItems::-webkit-scrollbar {
    display: none;
}

.RecommendationText{
    Top: 0%;

    font-family: 'Literata';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 95px;
    
    display: flex;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
    color: #000000;

}

.horizon{
    position: relative;
    width : 95%;
    height: 0.3vh;
    top : 60%;
    background-color: black;
    display: block;
}

.RightContainer{
    /* right-container */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: end;
    gap: 10px;

    position: absolute;
    width: 45%;
    height: 607px;
    right: -5vw;
    top: 0px;

    border-width: 1px 0px;
    border-style: solid;
    border-color: #000000;
    background-color: #72880400;
}

/* .ProductTag{
    position: absolute;
    width: 80px;
    height: 23px;
    left: 1vw;
    top: 12px;
    padding: 1px;
    background: #9bc78b;
    display: flex;
    text-align: center;
} */

.product-status {
    text-wrap: wrap;
    display: flex;
    font-family: 'Literata';
    font-weight: 700;
    padding-top: 0.5vh;

    .on-sale{
        background: #9bc78b;
        padding: 0.5vh;
    }

    .out-of-stock {
        background: #be5151;
        padding: 0.5vh;
    }
}

.InfoContainer{
padding-left: 5%;
width: 100%;
height: 688px;
/* order: 0;
flex-grow: 0; */
}

.ProductNameID{
    /* product-name-id */

    position: relative;
    width: 100%;
    height: 71px;
    left: 0vh;
    top: 0vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.ProductName{
    /* PRODUCT NAME */

position: relative;
/* width: 25vw; */
width: 100%;
height: 71px;
top: 0vh;
/* left: 0vh; */

font-family: 'Literata';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 71px;
display: flex;
align-items: center;
letter-spacing: 0.05em;
color: #000000;
}

.ProductIDText{
    /* Product ID #12345 */

position: relative;
width: 100%;
/* height: 0vw; */
left: 0vh;
top: -1vh;

font-family: 'Literata';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 30px;
/* identical to box height */
display: flex;
letter-spacing: 0.05em;

color: #7F7F7F;


}

.PriceContainer{
    /* prices-container */

    position: absolute;
    width: 100%;
    /* left: 5%; */
    padding-top: 2vh;

    flex-direction: row;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Literata'; 
    font-weight: 700;

    .PriceText {
        font-size: 36px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
    }
    
    .DiscountText {
        font-size: 16px;
        letter-spacing: 0.05em;
        text-decoration-line: line-through;
        text-transform: uppercase;
        
        padding-left: 1vh;
        color: #7F7F7F;
    }
}



.ProductDetail{
    position: relative;
    top: 10vh;
/* position: absolute;
width: 451px;
height: 216px;
left: 5%;


font-family: 'Literata';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 24px;
/* display: flex; */
/* align-items: start; */
letter-spacing: 0.05em;

color: #000000; 


}

.ProductAmountContainer{
    /* quantity */

    box-sizing: border-box;

    position: absolute;
    width: 158px;
    height: 46px;
    /* left: 9vh; */
    top: 440px;

    border: 1px solid #000000;
    border-radius: 23px;
}

.ProductAmountContainer button{
    width: 1px;
    height: 1px;
    background: transparent;
    border: 1px transparent;
    cursor: pointer;
}

.ProductAmountText{


    position: absolute;
    width: 15px;
    height: 15px;
    left: calc(50% - 75px/2 + 30.5px);
    top: calc(50% - 15px/2 - 1.5px);

    font-family: 'Literata';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #000000;



}
.ProductAmountContainer_add{
/* Vector 5 */

position: absolute;
width: 22.5px;
right: 7.5px;
top: 11px;
bottom: 24px;

}

.ProductAmountContainer_minus{
    /* subtract-icon */

position: absolute;
width: 22.5px;
left: 9.5px;
top: 22px;
bottom: 24px;
}

.AddToCartButton{
    position: absolute;
    width: 305px;
    height: 72px;
    /* left: 9vh; */
    top: 500.5px;
    border: 1px transparent;

    background: #9A9480;
    border-radius: 41px;
    cursor: pointer;
}

.AddToCartButton p{
    /* Add to Cart */

position: absolute;
width: 280px;
height: 48px;
left: 31px;
top: 12px;

font-family: 'Literata';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 48px;
/* identical to box height */
display: flex;
align-items: center;
letter-spacing: 0.05em;
text-transform: uppercase;

color: #FFFFFF;


}

.InfoButton{
    position: absolute;
    width: 70px;
    height: 40px;
    left: 8rem;
    top: -50px;
    text-align: center;
    display: flex;

    background-color: transparent;
    border: 1px transparent;
    border-radius: 10%;
}

.InfoButton p{
    position: absolute;
    width: inherit;
    height: inherit;
    left: 0px;

    font-family: 'Literata';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #000000;
}
.CommentButton{
    position: absolute;
    width: 145px;
    height: 40px;
    left: 60%;
    top: -50px;
    text-align: center;
    display: flex;

    background-color:transparent;
    border: 1px transparent;
    border-radius: 10%;
}

.CommentButton p{
    /* COMMENTS */

position: absolute;
width: inherit;
height: inherit;
left: 0px;

font-family: 'Literata';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 36px;
/* identical to box height */
display: flex;
align-items: center;
letter-spacing: 0.05em;
text-transform: uppercase;

color: #000000;


}

.CommentContainer {

    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    padding: 0;
    margin-left: 1%;

    display: flex;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.StarRatingSummary {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 15%;

}

.StarText {
    width: fit-content;
    flex: 1 0 10%;

    font-family: 'Literata';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 95px;
    /* identical to box height */
    text-align: left;
    letter-spacing: -0.04em;
    text-transform: uppercase;

    color: #000000;
}

.StarContainer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 2px;

    position: absolute;
    width: 235px;
    height: 45px;
    left: 196px;
    top: 61px;
}

.CommentSummaryContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    position: absolute;
    left: 0px;
    top: 20%;
}

.CommentProgressBarContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 17px;

    width: 291px;
    height: 24px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.CommentProgressBarFirstText {
    width: 51px;
    height: 24px;

    position: relative;
    left: 0px;
    top: 6px;
    

    font-family: 'Literata';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    display: flex;
    align-items: center;
    letter-spacing: -0.04em;
    text-transform: uppercase;

    color: #000000;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

.CommentProgressBarSecondText{
    width: 7px;
    height: 24px;

    font-family: 'Literata';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    display: flex;
    align-items: center;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #000000;
    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;

    position: relative;
    right: 0px;
    top: 6px;

}

.CommentProgressBarMax {
    box-sizing: border-box;

    width: 195px;
    height: 15px;

    border: 1px solid #000000;
    border-radius: 13px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.CommentProgressBar{
position: relative;
height: 14px;
left: 0px;
top: 0px;

background: #000000;
border-radius: 13px;
}


.CommentListContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: center;

    padding: 0px;
    gap: 55%;

    position: absolute;
    width: 95%;
    height: 279px;
    /* left: 93px; */
    left: 0;
    top: 326px;
    background-color: #9bc78b00;
}

.CommentListContainer::-webkit-scrollbar {
    display: none;
}

.CommentNumber {
    position: absolute;
    width: 300px;
    height: 24px;
    left: 0px;
    top: 291px;

    font-family: 'Literata';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    display: flex;
    align-items: center;
    letter-spacing: -0.04em;
    text-transform: uppercase;

    color: #000000;
}

.Comment {
/* comment */
    position: absolute;
    left: 0%;
    
    width: 100%;
    height: auto;

    border-bottom: 1px solid black;
    border-top: 1px solid black;
    background-color: #d7af2b00;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

}

.SmallCommentStarContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 2px;
    gap: 0px;

    position: absolute;
    width: 135px;
    height: 25px;
    left: 0px;
    top: 4px;
}

.SmallCommentText {
    position: absolute;
    left: 0px;
    top: 34px;

    font-family: 'Literata';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #000000;
    background-color: #bad04a00;

    display: flex;
    flex:1;

}

.SmallCommentUserId {
    position: absolute;
    width: auto;
    height: 24px;

    right: 0px;
    top: 0px;

    font-family: 'Literata';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #7F7F7F;


}

.add-to-cart {
    display: flex;
    flex-direction: column;
}

.add-to-cart-error {
    position: relative;
    left: 2vw;
    top: 37vh;
    color: red;
}

