.function-list {
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    height: 100dvh;
    background-color: white;
    display: flex;
    justify-content: center;
    border-right: 1px solid black;
}

.header {
    width: 200px;
    height: 70px;
    position: absolute;
    top: 0px;
    left: 0px;
    border-bottom: 1px solid black;
}

.header img {
    width: 60px;
    height: 60px;
    position: absolute;
    top: calc(70px / 2 - 60px / 2);
    left: calc(200px / 2 - 60px / 2);
}

.function-list ul {
    position: absolute;
    top: 120px;
}

.function-list li{
    font-size: 24px;
    margin-top: 20px;
    list-style-type: none;
    cursor: pointer;
}

.main-window {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    left: 200px;
    width: calc(100dvw - 200px);
    height: 100dvh;
    background-color: #E7E7E7;
}

.logout-button {
    position: absolute;
    top: 25px;
    right: 25px;
}


