body {
    background: #302D29;

}

.loginImage{
    position: absolute;
    width: 33vw;
    height: 80vh;
    top: 6vh;
    gap: 0px;
    opacity: 0px;
    object-fit: cover;
}

.loginForm{
    padding-left: 22vw;
    position: absolute;
    top: 17.3vh;
    left: 15%;
    right: 15%;
    height: 75vh;
    background:#9A9480;
    color: #FFFFFF;
    font-weight: 700;
}

.title{
    margin-top: 9vh;
    margin-bottom: 5vh;
    font-family: Literata;
    font-size: 5vw;
    line-height: 5vw;
    text-align: left;
}

.inputContainer{
    position: relative;
    margin-top: 5vh;
    width: 85%;
}

.inputContainer input{
    border: 1px solid #FFFFFF;
    background: none;
    border-radius: 3vw;
    height: 8vh;
    width: 100%;
    font-size: 2vh;
    font-weight: 700;
    color: #302D29;
    padding-left: 4vh;
}

.inputContainer label{
    position: absolute;
    top:0;
    left:0;
    margin:1vh 1vh 1vh 4vh;
    font-size: 2vh;
    align-self: center;
    height: 6vh;
    line-height: 6vh;
    opacity: 0.45;
    transition: 0.45s;
    pointer-events: none;

}

.inputContainer input:focus ~ label,
.inputContainer input:valid ~ label{
    transform: translateX(3vh) translateY(-4.5vh);
    background:#9A9480;
    padding: 0 0.8vw;
    opacity: 1;
    font-size: 3vh;
    color: #FFDF78;
}

.inputContainer input:focus,
.inputContainer input:valid{
    outline: 2px solid #FFFFFF;
    font: 2vh;
    color: #FFFFFF;
}

.redirectLink{
    margin-top: 4vh;
}

.redirectLink, a{
    font-size: 1.5vh;
    font-weight: 500;
    color: #302D29;
}

.loginButton {
    position: absolute;
    bottom: 8%;
    right: 5vw;
    background: #675D50;
    color: #FFFFFF;
    font-size: 2vw;
    font-weight: 700;
    width: 10vw;
    height: 10vw;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.loginButton:hover{
    background: #7F8399;
}

a:hover{
    color: #FFDF78;
}


