.loginPage {
    background: #302D29;
    min-height: 100vh;
}

.loginImage{
    position: absolute;
    width: 33vw;
    height: 80vh;
    top: 6vh;
    gap: 0px;
    opacity: 0px;
    object-fit: cover;
}


