.search-bar {
    width: 500px;
    height: 34px;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar input {
    width: 400px;
    background: none;
    outline: none;
    border: none;
    position: relative;    
}

.search-icon {
    width: 24px;
    height: 24px;
    position: relative;
    left: 12px;
    cursor: pointer;
}

.filter-icon {
    width: 24px;
    height: 24px;
    position: relative;
    right: 15px;
}