.cart-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-bottom: 2px dotted black;
}

.cart-product-box{
    display: flex;
    width: 30%;
}

.cart-product-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 7px;
}

.cart-product-name {
    font-family: 'Literata';
    font-weight: 700;
}

.cart-product-status{
    /* width: auto; */
    text-wrap: wrap;
    font-family: 'Literata';
    font-weight: 700;

    .on-sale{
        background: #9bc78b;
        padding: 0.5vh;
    }

    .out-of-stock {
        background: #be5151;
        padding: 0.5vh;
    }
}

.cart-product-img{
    height: 12vh;
    max-width: 12vh;
    object-fit: scale-down;
}

.CartItemAmountBox{
    /* quantity */

    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    align-content: center;


    width: 158px;
    height: 46px;
    left: 167px;
    top: 440px;

    border: 1px solid #000000;
    border-radius: 23px;
}

.CartItemAmountText {
    font-weight: 700;
}

.CartItemAmountBox button{
    position: relative;
    justify-content: center;
    padding: 0 5%;
    height: 100%;
    background: transparent;
    border: 1px transparent;
}

.CartItemAmountBox button img {
    vertical-align: middle;
}

.item-price{
    display: flex;
    font-weight: 600;
}



.cart-item-price{
    color: #7F7F7F;
    margin-left: 5px;
    font-size: 14px;
    text-decoration-line: line-through;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.subtotal{
    font-weight: 600;
}

.cart-cancel-button{
    background: none;
    border: 1px transparent;
    cursor: pointer;

    img {
        width: 50%;
        height: 50%;
    }
}

.cart-cancel-button:hover{
    cursor: pointer;
}