.delete-user-form {
    position: relative;
    background-color: white;
    padding: 100px 100px;
    padding-bottom: calc(100px + 40px + 20px);
    border: 1px solid black;
}

.form-button {
    position: absolute;
    right: 100px;
    padding-top: 20px;
}