.drop-down-menu {
    position: relative;
    top: 0px;
    left: 0px;
    width: 200px;
    height: 30px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 15px;
    margin: 0px;
    display: flex;
    justify-content: center;
    background-color: #F6F6E9;
    overflow: hidden;

    .drop-down-menu-button {
        width: 16px;
        height: 16px;
        position: absolute;
        top: 7px;
        left: 10px;
        cursor: pointer;
    }

    hr {
        position: absolute;
        top: 30px;
        left: 20px;
        width: 160px;
        height: 0.5px;
        border: none !important;
        background-color: #c2c2c2;
    }

    .texts-container {
        position: relative;
        top: 2px;
        width: fit-content;
        height: fit-content;
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-size: 16px;

        .current-item {
            width:fit-content;
            margin: 0px 0px 13px 0px;
            
        }

        .item-container {
            width: fit-content;
            cursor: pointer;
        }

    }

}