.hero {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #DADACA;
    
    .new-text {
        position: absolute;
        width: fit-content;
        height: fit-content;
        top: 3%;
        left: 6%;
    }
    
    .new-text u {
        font-size: 12vw;
        font-weight: bold;    
    }
    
    .collection-text {
        font-size: 8vw;
        font-weight: bold;
        width: fit-content;
        height: fit-content;
        position: absolute;
        top: calc(12vw + 7% );
        left: 15%;
    }
    .vertical-line {
        width: 0.3%;
        height: 35%;
        background-color: black;
        overflow: hidden;
        position: absolute;
        bottom: 0px;
        left: 51%;
    }
    
    .collection-description {
        position: absolute;
        bottom: 10%;
        left: 30%;
        width: 20%;
        height: fit-content;        
    }
    
    
    .learn-more-button {
        width: 15vw;
        height: 15vw;
        position: absolute;
        bottom: 7%;
        left: 7%;
    }
    
    img {
        position: absolute;
        bottom: 0px;
        left: 53%;
        width: 32%;
        height: 75%;
        object-fit: cover;
    }
}