.order-history-item{
    background: #DADACA;
    margin-bottom: 10px;
}

.order-info{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
}

.order-product-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-comment-button{
    background: none;
    border: none;
    cursor: pointer;
}

.order-product-comment{

}

.star-radio{
    display: none;
}

.star{
    cursor: pointer;
}